<app-header></app-header>
<app-r-header></app-r-header>
<mat-stepper>
  <mat-step [stepControl]="firstFormGroup" label="Personal Information" errorMessage="Complete your personal information">
    <form [formGroup]="firstFormGroup">
      <div class="main">
        <div class="left">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" required />
          </mat-form-field>
          <mat-form-field appearance="fill" class="phone">
            <mat-label>Phone Number</mat-label>
            <span matPrefix>+ <span class="border-bottom">91</span> &nbsp;</span>
            <input type="tel" maxlength="10" matInput formControlName="phone" required>
          </mat-form-field><br>
          <input type="file" class="file" #fileInput hidden required>
          <p class="center start" (click)="fileInput.click()"><img src="../../assets/img/Upload_black_24dp.svg" alt=""> UPLOAD RESUME</p>
          <mat-form-field appearance="fill">
            <mat-label>Enter Portfolio URL (if any)</mat-label>
            <input matInput/>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Preferred Job Roles*</mat-label>
            <p><mat-checkbox formControlName="Instructional_Designer">Instructional Designer</mat-checkbox></p>
            <p><mat-checkbox formControlName="Software_Engineer">Software Engineer</mat-checkbox></p>
            <p><mat-checkbox formControlName="Software_Quality_Engineer">Software Quality Engineer</mat-checkbox></p>
          </mat-form-field>
        </div>
        <div class="right">right</div>
      </div>

      <div class="center">
        <button mat-button matStepperNext class="btn">NEXT</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Qualifications" errorMessage="Complete your Qualifications">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div class="center">
        <button mat-button matStepperPrevious class="btn first-btn">
          PREVIOUS
        </button>
        <button mat-button matStepperNext class="btn">NEXT</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Review and Proceed">
    <form [formGroup]="thirdFormGroup">
      <p>You are now done.</p>
      <div class="center">
        <button mat-button matStepperPrevious class="btn">PREVIOUS</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
