.main {
  padding: 24px;
  .card {
    background-color: #fff;
    padding: 16px 16px 24px 16px;
    .heading {
      font-size: 22px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      .btn {
        padding: 5px 16px;
        background-color: #3fd28b;
        font-size: 14px;
        box-shadow: 0px 3px 5px #0000003d;
        border: none;
        cursor: pointer;
      }
    }
    .title {
      font-size: 12px;
      color: #666666;
      margin-bottom: 8px;
    }
    .date {
      color: #222222;
      font-size: 14px;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #d3cfcf;
      span {
        color: #666666;
        font-size: 12px;
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid #d3cfcf;
      }
    }
    .job {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #1F7A54;
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }
}
.border{
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #d3cfcf;
}
::ng-deep .mat-expansion-panel-header{
  background-color: #DBEFFF !important;
}
::ng-deep .mat-expansion-panel-header:hover{
  background-color: #DBEFFF !important;
}


::ng-deep .mat-expansion-panel-header-title,::ng-deep .mat-expansion-panel-header-description{
  border-right: 1px solid #c7c3c3;
  margin-right: 0px !important;
}

::ng-deep .mat-expansion-indicator{
  margin-right: 10px;
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
::ng-deep .mat-expansion-panel-header{
  padding: 0px !important;
  height: 56px !important;
}

::ng-deep .mat-content{
  margin-left: 16px;
  height: 100%;
  flex: 0 1 auto !important;
  width: 95%;
}

mat-panel-title{
  font-size: 16px;
  color: #222222;
}

mat-expansion-panel{
  margin-bottom: 24px;
}

::ng-deep .preference{
  padding: 16px;
  background-color: #fff;
  .p-heading{
    color: #222222;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .title{
    font-size: 12px;
    color: #666666;
    margin-bottom: 16px;
  }
  .mdc-radio{
    padding: 0px !important;
    margin-right: 8px;
  }
  .mat-mdc-radio-group{
    display: flex;
    flex-direction: column;
  }
  .mdc-form-field>label{
    padding: 0px !important;
    font-size: 16px;
    color: #222222;
  }
  .mat-mdc-radio-button{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .mat-mdc-radio-group{
    border-bottom: 1px solid rgba(0,0,0,0.12);
    margin-bottom: 16px;
  }
  mat-label{
    font-size: 12px;
    color: #666666;
    margin-bottom: 16px;
  }
  .checkbox{
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d3cfcf;
  }
  .center{
    display: flex;
    align-items: center;
    color: #1F7A54;
    cursor: pointer;
    img{
      --webkit-filter: opacity(0.5) drop-shadow(0 0 0 green);
      height: 24px;
      width: 18px;
      margin-right: 8px;
    }
  }
}
