<app-header [img]="img" [dashboard]="true"></app-header>
<div class="main">
  <div class="card">
    <div class="heading">Walk In for Multiple Job Roles <button class="btn">Apply</button></div>
    <p class="title">Date & Time :</p>
    <div class="date">03-Jul-2021 to 04-Jul-2021 <span class="location"><i class="fa-solid fa-location-dot"></i> Mumbai</span></div>
    <p class="title">Job Roles:</p>
    <div class="job">
      <div class="img"><img src="../../assets/img/Instructional Designer.svg"> </div > Instructional Designer<div class="border"></div>
      <div class="img"><img src="../../assets/img/Software Engineer.svg"> </div > Software Engineer<div class="border"></div>
      <div class="img"><img src="../../assets/img/Software Quality Engineer.svg"> </div > Software Quality Engineer
    </div>
  </div>
</div>


