/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}
body{
    height: 100vh;
    font-family: Quicksand;
    width: 100vw;
    background-color: #EEEEEE;
}
    